zip-files/broker-flows/ESignatureBroker_1_0_0_33/Workflows/ESignStatusSync-91E66AE6-0394-47F6-85B4-13198774440C.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cs_sharecommondataserviceforapps"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Recurrence_Every_30_Minutes": {
          "type": "Recurrence",
          "recurrence": {
            "frequency": "Minute",
            "interval": 30
          }
        }
      },
      "actions": {
        "Trigger_Init": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "_init",
                "type": "string",
                "value": ""
              }
            ]
          },
          "runAfter": {}
        },
        "Initialize_BearerToken": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "BearerToken",
                "type": "string",
                "value": ""
              }
            ]
          },
          "runAfter": {
            "Trigger_Init": [
              "Succeeded"
            ]
          }
        },
        "Initialize_UserContext": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "UserContext",
                "type": "string",
                "value": ""
              }
            ]
          },
          "runAfter": {
            "Initialize_BearerToken": [
              "Succeeded"
            ]
          }
        },
        "List_Active_Token": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cs_authtokens",
              "$filter": "cs_isactive eq true and cs_expiresat gt @{utcNow()}",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          },
          "runAfter": {
            "Initialize_UserContext": [
              "Succeeded"
            ]
          }
        },
        "List_Nintex_Credentials": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cs_authtokens",
              "$filter": "cs_name eq 'NintexConfig' and cs_isactive eq false",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          },
          "runAfter": {
            "List_Active_Token": [
              "Succeeded"
            ]
          }
        },
        "Token_Cache_Check": {
          "type": "If",
          "expression": {
            "and": [
              {
                "greater": [
                  "@length(outputs('List_Active_Token')?['body/value'])",
                  0
                ]
              }
            ]
          },
          "actions": {
            "Set_BearerToken_From_Cache": {
              "type": "SetVariable",
              "inputs": {
                "name": "BearerToken",
                "value": "@{first(outputs('List_Active_Token')?['body/value'])?['cs_token']}"
              },
              "runAfter": {}
            },
            "Set_UserContext_From_Cache": {
              "type": "SetVariable",
              "inputs": {
                "name": "UserContext",
                "value": "@{first(outputs('List_Nintex_Credentials')?['body/value'])?['cs_contextusername']}"
              },
              "runAfter": {
                "Set_BearerToken_From_Cache": [
                  "Succeeded"
                ]
              }
            }
          },
          "else": {
            "actions": {
              "Set_UserContext_Variable": {
                "type": "SetVariable",
                "inputs": {
                  "name": "UserContext",
                  "value": "@{first(outputs('List_Nintex_Credentials')?['body/value'])?['cs_contextusername']}"
                },
                "runAfter": {}
              },
              "HTTP_Authenticate_Nintex": {
                "type": "Http",
                "inputs": {
                  "method": "POST",
                  "uri": "https://account.assuresign.net/api/v3.7/authentication/apiUser",
                  "headers": {
                    "Content-Type": "application/json"
                  },
                  "body": {
                    "request": {
                      "apiUsername": "@{first(outputs('List_Nintex_Credentials')?['body/value'])?['cs_apiusername']}",
                      "apiKey": "@{first(outputs('List_Nintex_Credentials')?['body/value'])?['cs_apikey']}",
                      "contextUsername": "@{first(outputs('List_Nintex_Credentials')?['body/value'])?['cs_contextusername']}"
                    }
                  }
                },
                "runAfter": {
                  "Set_UserContext_Variable": [
                    "Succeeded"
                  ]
                }
              },
              "Set_BearerToken_From_Auth": {
                "type": "SetVariable",
                "inputs": {
                  "name": "BearerToken",
                  "value": "@{concat('bearer ', body('HTTP_Authenticate_Nintex')?['result']?['token'])}"
                },
                "runAfter": {
                  "HTTP_Authenticate_Nintex": [
                    "Succeeded"
                  ]
                }
              },
              "Deactivate_Old_Tokens": {
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "ListRecords",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "cs_authtokens",
                    "$filter": "cs_isactive eq true"
                  },
                  "authentication": "@parameters('$authentication')"
                },
                "runAfter": {
                  "Set_BearerToken_From_Auth": [
                    "Succeeded"
                  ]
                }
              },
              "Apply_to_each_old_token": {
                "type": "Foreach",
                "foreach": "@outputs('Deactivate_Old_Tokens')?['body/value']",
                "actions": {
                  "Update_Token_Inactive": {
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "UpdateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "cs_authtokens",
                        "recordId": "@{items('Apply_to_each_old_token')?['cs_authtokenid']}",
                        "item/cs_isactive": false
                      },
                      "authentication": "@parameters('$authentication')"
                    },
                    "runAfter": {}
                  }
                },
                "runAfter": {
                  "Deactivate_Old_Tokens": [
                    "Succeeded"
                  ]
                }
              },
              "Create_Token_Record": {
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "CreateRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "cs_authtokens",
                    "item/cs_name": "NintexBearerToken",
                    "item/cs_token": "@{variables('BearerToken')}",
                    "item/cs_isactive": true,
                    "item/cs_issuedat": "@{utcNow()}",
                    "item/cs_expiresat": "@{addHours(utcNow(), 23)}"
                  },
                  "authentication": "@parameters('$authentication')"
                },
                "runAfter": {
                  "Apply_to_each_old_token": [
                    "Succeeded"
                  ]
                }
              }
            }
          },
          "runAfter": {
            "List_Nintex_Credentials": [
              "Succeeded"
            ]
          }
        },
        "List_InProcess_Envelopes": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cs_envelopes",
              "$filter": "cs_status eq 'InProcess' and cs_envelopeid ne null"
            },
            "authentication": "@parameters('$authentication')"
          },
          "runAfter": {
            "Token_Cache_Check": [
              "Succeeded"
            ]
          }
        },
        "Process_Each_Envelope": {
          "type": "Foreach",
          "foreach": "@outputs('List_InProcess_Envelopes')?['body/value']",
          "actions": {
            "HTTP_Get_Envelope_Status": {
              "type": "Http",
              "inputs": {
                "method": "GET",
                "uri": "https://ca1.assuresign.net/api/documentnow/v3.7/envelopes/@{items('Process_Each_Envelope')?['cs_envelopeid']}/status",
                "headers": {
                  "Authorization": "@{variables('BearerToken')}",
                  "X-AS-UserContext": "@{variables('UserContext')}",
                  "accept": "application/json"
                }
              },
              "runAfter": {}
            },
            "Check_Status_Changed": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "not": {
                      "equals": [
                        "@body('HTTP_Get_Envelope_Status')?['result']?['status']",
                        "@items('Process_Each_Envelope')?['cs_status']"
                      ]
                    }
                  }
                ]
              },
              "actions": {
                "Update_Envelope_Status": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "cs_envelopes",
                      "recordId": "@items('Process_Each_Envelope')?['cs_envelopeid_local']",
                      "item/cs_status": "@{body('HTTP_Get_Envelope_Status')?['result']?['status']}",
                      "item/cs_completeddate": "@{body('HTTP_Get_Envelope_Status')?['result']?['completedDate']}",
                      "item/cs_cancelleddate": "@{body('HTTP_Get_Envelope_Status')?['result']?['cancelledDate']}"
                    },
                    "authentication": "@parameters('$authentication')"
                  },
                  "runAfter": {}
                }
              },
              "else": {
                "actions": {}
              },
              "runAfter": {
                "HTTP_Get_Envelope_Status": [
                  "Succeeded"
                ]
              }
            },
            "HTTP_Get_Signers": {
              "type": "Http",
              "inputs": {
                "method": "GET",
                "uri": "https://ca1.assuresign.net/api/documentnow/v3.7/envelopes/@{items('Process_Each_Envelope')?['cs_envelopeid']}/signers",
                "headers": {
                  "Authorization": "@{variables('BearerToken')}",
                  "X-AS-UserContext": "@{variables('UserContext')}",
                  "accept": "application/json"
                }
              },
              "runAfter": {
                "Check_Status_Changed": [
                  "Succeeded"
                ]
              }
            },
            "Update_Each_Signer_Status": {
              "type": "Foreach",
              "foreach": "@body('HTTP_Get_Signers')?['result']?['signers']",
              "actions": {
                "List_Signer_Record": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "cs_signers",
                      "$filter": "cs_email eq '@{items('Update_Each_Signer_Status')?['email']}' and _cs_envelopelookup_value eq @{items('Process_Each_Envelope')?['cs_envelopeid_local']}",
                      "$top": 1
                    },
                    "authentication": "@parameters('$authentication')"
                  },
                  "runAfter": {}
                },
                "Update_Signer_If_Found": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "greater": [
                          "@length(outputs('List_Signer_Record')?['body/value'])",
                          0
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "Update_Signer_Status": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cs_signers",
                          "recordId": "@{first(outputs('List_Signer_Record')?['body/value'])?['cs_signerid']}",
                          "item/cs_signerstatus": "@{items('Update_Each_Signer_Status')?['status']}",
                          "item/cs_signeddate": "@{items('Update_Each_Signer_Status')?['signedDate']}",
                          "item/cs_signinglink": "@{items('Update_Each_Signer_Status')?['signingLink']}"
                        },
                        "authentication": "@parameters('$authentication')"
                      },
                      "runAfter": {}
                    }
                  },
                  "else": {
                    "actions": {}
                  },
                  "runAfter": {
                    "List_Signer_Record": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "runAfter": {
                "HTTP_Get_Signers": [
                  "Succeeded"
                ]
              }
            }
          },
          "runAfter": {
            "List_InProcess_Envelopes": [
              "Succeeded"
            ]
          }
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}
