zip-files/broker-flows/ESignatureBroker_1_0_0_33/Workflows/ESignSendSignerReminder-BE1A1128-B593-4FC7-AA22-DE6394E9BBEF.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cs_sharecommondataserviceforapps"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_reminder_requested": {
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "cs_signers",
              "subscriptionRequest/filterexpression": "cs_sendreminder eq true"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_Signer_Record": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cs_signers",
              "recordId": "@triggerOutputs()?['body/cs_signerid']"
            },
            "authentication": "@parameters('$authentication')"
          },
          "runAfter": {}
        },
        "Get_Parent_Envelope": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cs_envelopes",
              "recordId": "@outputs('Get_Signer_Record')?['body/_cs_envelopelookup_value']"
            },
            "authentication": "@parameters('$authentication')"
          },
          "runAfter": {
            "Get_Signer_Record": [
              "Succeeded"
            ]
          }
        },
        "Initialize_BearerToken": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "BearerToken",
                "type": "string",
                "value": ""
              }
            ]
          },
          "runAfter": {
            "Get_Parent_Envelope": [
              "Succeeded"
            ]
          }
        },
        "Initialize_UserContext": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "UserContext",
                "type": "string",
                "value": ""
              }
            ]
          },
          "runAfter": {
            "Initialize_BearerToken": [
              "Succeeded"
            ]
          }
        },
        "HTTP_Send_Reminder": {
          "type": "Http",
          "inputs": {
            "method": "POST",
            "uri": "@{first(outputs('Get_ApiBaseUrl_Env')?['body/value'])?['defaultvalue']}/envelopes/@{outputs('Get_Parent_Envelope')?['body/cs_envelopeid']}/signers/@{outputs('Get_Signer_Record')?['body/cs_envelopesignerid']}/reminders",
            "headers": {
              "Authorization": "@{variables('BearerToken')}",
              "X-AS-UserContext": "@{variables('UserContext')}",
              "accept": "application/json",
              "Content-Type": "application/json"
            }
          },
          "runAfter": {
            "Set_BearerToken": [
              "Succeeded"
            ],
            "Set_UserContext": [
              "Succeeded"
            ],
            "Get_ApiBaseUrl_Env": [
              "Succeeded"
            ]
          }
        },
        "Reset_Reminder_Flag": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cs_signers",
              "recordId": "@triggerOutputs()?['body/cs_signerid']",
              "item/cs_sendreminder": false
            },
            "authentication": "@parameters('$authentication')"
          },
          "runAfter": {
            "HTTP_Send_Reminder": [
              "Succeeded",
              "Failed"
            ]
          }
        },
        "Get_ApiUsername_Env": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "environmentvariabledefinitions",
              "$filter": "schemaname eq 'cs_NintexApiUsername'",
              "$select": "defaultvalue",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          },
          "runAfter": {
            "Initialize_UserContext": [
              "Succeeded"
            ]
          }
        },
        "Get_ApiKey_Env": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "environmentvariabledefinitions",
              "$filter": "schemaname eq 'cs_NintexApiKey'",
              "$select": "defaultvalue",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          },
          "runAfter": {
            "Initialize_UserContext": [
              "Succeeded"
            ]
          }
        },
        "Get_ContextUsername_Env": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "environmentvariabledefinitions",
              "$filter": "schemaname eq 'cs_NintexContextUsername'",
              "$select": "defaultvalue",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          },
          "runAfter": {
            "Initialize_UserContext": [
              "Succeeded"
            ]
          }
        },
        "Get_AuthUrl_Env": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "environmentvariabledefinitions",
              "$filter": "schemaname eq 'cs_NintexAuthUrl'",
              "$select": "defaultvalue",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          },
          "runAfter": {
            "Initialize_UserContext": [
              "Succeeded"
            ]
          }
        },
        "Get_ApiBaseUrl_Env": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "environmentvariabledefinitions",
              "$filter": "schemaname eq 'cs_NintexApiBaseUrl'",
              "$select": "defaultvalue",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          },
          "runAfter": {
            "Initialize_UserContext": [
              "Succeeded"
            ]
          }
        },
        "HTTP_Authenticate_Nintex": {
          "type": "Http",
          "inputs": {
            "method": "POST",
            "uri": "@{first(outputs('Get_AuthUrl_Env')?['body/value'])?['defaultvalue']}/authentication/apiUser",
            "headers": {
              "Content-Type": "application/json"
            },
            "body": {
              "request": {
                "apiUsername": "@{first(outputs('Get_ApiUsername_Env')?['body/value'])?['defaultvalue']}",
                "apiKey": "@{first(outputs('Get_ApiKey_Env')?['body/value'])?['defaultvalue']}",
                "contextUsername": "@{first(outputs('Get_ContextUsername_Env')?['body/value'])?['defaultvalue']}"
              }
            }
          },
          "runAfter": {
            "Get_ApiUsername_Env": [
              "Succeeded"
            ],
            "Get_ApiKey_Env": [
              "Succeeded"
            ],
            "Get_ContextUsername_Env": [
              "Succeeded"
            ],
            "Get_AuthUrl_Env": [
              "Succeeded"
            ]
          }
        },
        "Set_BearerToken": {
          "type": "SetVariable",
          "inputs": {
            "name": "BearerToken",
            "value": "@{concat('bearer ', body('HTTP_Authenticate_Nintex')?['result']?['token'])}"
          },
          "runAfter": {
            "HTTP_Authenticate_Nintex": [
              "Succeeded"
            ]
          }
        },
        "Set_UserContext": {
          "type": "SetVariable",
          "inputs": {
            "name": "UserContext",
            "value": "@{first(outputs('Get_ContextUsername_Env')?['body/value'])?['defaultvalue']}"
          },
          "runAfter": {
            "HTTP_Authenticate_Nintex": [
              "Succeeded"
            ]
          }
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}