zip-files/broker-flows/ESignatureBroker_1_0_0_33/Workflows/ESignSyncTemplates-7E4177F7-6F26-4F98-9C97-6D51F4F36792.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cs_sharecommondataserviceforapps"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Recurrence_Daily": {
          "type": "Recurrence",
          "recurrence": {
            "frequency": "Day",
            "interval": 1
          }
        }
      },
      "actions": {
        "Trigger_Init": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "_init",
                "type": "string",
                "value": ""
              }
            ]
          },
          "runAfter": {}
        },
        "Initialize_BearerToken": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "BearerToken",
                "type": "string",
                "value": ""
              }
            ]
          },
          "runAfter": {
            "Trigger_Init": [
              "Succeeded"
            ]
          }
        },
        "Initialize_UserContext": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "UserContext",
                "type": "string",
                "value": ""
              }
            ]
          },
          "runAfter": {
            "Initialize_BearerToken": [
              "Succeeded"
            ]
          }
        },
        "HTTP_List_Templates": {
          "type": "Http",
          "inputs": {
            "method": "GET",
            "uri": "@{first(outputs('Get_ApiBaseUrl_Env')?['body/value'])?['defaultvalue']}/templates",
            "headers": {
              "Authorization": "@{variables('BearerToken')}",
              "X-AS-UserContext": "@{variables('UserContext')}",
              "accept": "application/json"
            }
          },
          "runAfter": {
            "Set_BearerToken": [
              "Succeeded"
            ],
            "Set_UserContext": [
              "Succeeded"
            ],
            "Get_ApiBaseUrl_Env": [
              "Succeeded"
            ]
          }
        },
        "Upsert_Each_Template": {
          "type": "Foreach",
          "foreach": "@body('HTTP_List_Templates')?['result']?['templates']",
          "actions": {
            "Check_Template_Exists": {
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "cs_templates",
                  "$filter": "cs_templateid eq '@{items('Upsert_Each_Template')?['templateID']}'",
                  "$top": 1
                },
                "authentication": "@parameters('$authentication')"
              },
              "runAfter": {}
            },
            "Create_Or_Update_Template": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@length(outputs('Check_Template_Exists')?['body/value'])",
                      0
                    ]
                  }
                ]
              },
              "actions": {
                "Update_Template": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "cs_templates",
                      "recordId": "@{first(outputs('Check_Template_Exists')?['body/value'])?['cs_templateid']}",
                      "item/cs_name": "@{items('Upsert_Each_Template')?['name']}",
                      "item/cs_description": "@{items('Upsert_Each_Template')?['description']}",
                      "item/cs_isactive": "@{items('Upsert_Each_Template')?['isActive']}"
                    },
                    "authentication": "@parameters('$authentication')"
                  },
                  "runAfter": {}
                }
              },
              "else": {
                "actions": {
                  "Create_Template": {
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "CreateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "cs_templates",
                        "item/cs_templateid": "@{items('Upsert_Each_Template')?['templateID']}",
                        "item/cs_name": "@{items('Upsert_Each_Template')?['name']}",
                        "item/cs_description": "@{items('Upsert_Each_Template')?['description']}",
                        "item/cs_isactive": "@{items('Upsert_Each_Template')?['isActive']}"
                      },
                      "authentication": "@parameters('$authentication')"
                    },
                    "runAfter": {}
                  }
                }
              },
              "runAfter": {
                "Check_Template_Exists": [
                  "Succeeded"
                ]
              }
            }
          },
          "runAfter": {
            "HTTP_List_Templates": [
              "Succeeded"
            ]
          }
        },
        "Get_ApiUsername_Env": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "environmentvariabledefinitions",
              "$filter": "schemaname eq 'cs_NintexApiUsername'",
              "$select": "defaultvalue",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          },
          "runAfter": {
            "Initialize_UserContext": [
              "Succeeded"
            ]
          }
        },
        "Get_ApiKey_Env": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "environmentvariabledefinitions",
              "$filter": "schemaname eq 'cs_NintexApiKey'",
              "$select": "defaultvalue",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          },
          "runAfter": {
            "Initialize_UserContext": [
              "Succeeded"
            ]
          }
        },
        "Get_ContextUsername_Env": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "environmentvariabledefinitions",
              "$filter": "schemaname eq 'cs_NintexContextUsername'",
              "$select": "defaultvalue",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          },
          "runAfter": {
            "Initialize_UserContext": [
              "Succeeded"
            ]
          }
        },
        "Get_AuthUrl_Env": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "environmentvariabledefinitions",
              "$filter": "schemaname eq 'cs_NintexAuthUrl'",
              "$select": "defaultvalue",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          },
          "runAfter": {
            "Initialize_UserContext": [
              "Succeeded"
            ]
          }
        },
        "Get_ApiBaseUrl_Env": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "environmentvariabledefinitions",
              "$filter": "schemaname eq 'cs_NintexApiBaseUrl'",
              "$select": "defaultvalue",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          },
          "runAfter": {
            "Initialize_UserContext": [
              "Succeeded"
            ]
          }
        },
        "HTTP_Authenticate_Nintex": {
          "type": "Http",
          "inputs": {
            "method": "POST",
            "uri": "@{first(outputs('Get_AuthUrl_Env')?['body/value'])?['defaultvalue']}/authentication/apiUser",
            "headers": {
              "Content-Type": "application/json"
            },
            "body": {
              "request": {
                "apiUsername": "@{first(outputs('Get_ApiUsername_Env')?['body/value'])?['defaultvalue']}",
                "apiKey": "@{first(outputs('Get_ApiKey_Env')?['body/value'])?['defaultvalue']}",
                "contextUsername": "@{first(outputs('Get_ContextUsername_Env')?['body/value'])?['defaultvalue']}"
              }
            }
          },
          "runAfter": {
            "Get_ApiUsername_Env": [
              "Succeeded"
            ],
            "Get_ApiKey_Env": [
              "Succeeded"
            ],
            "Get_ContextUsername_Env": [
              "Succeeded"
            ],
            "Get_AuthUrl_Env": [
              "Succeeded"
            ]
          }
        },
        "Set_BearerToken": {
          "type": "SetVariable",
          "inputs": {
            "name": "BearerToken",
            "value": "@{concat('bearer ', body('HTTP_Authenticate_Nintex')?['result']?['token'])}"
          },
          "runAfter": {
            "HTTP_Authenticate_Nintex": [
              "Succeeded"
            ]
          }
        },
        "Set_UserContext": {
          "type": "SetVariable",
          "inputs": {
            "name": "UserContext",
            "value": "@{first(outputs('Get_ContextUsername_Env')?['body/value'])?['defaultvalue']}"
          },
          "runAfter": {
            "HTTP_Authenticate_Nintex": [
              "Succeeded"
            ]
          }
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}