zip-files/broker-flows/ESignatureBroker_1_0_0_33/Workflows/ESignSendEnvelope-C7CDBE9C-A9E8-4F91-A719-6B2A5E1E5E65.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cs_sharecommondataserviceforapps"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_envelope_status_set_to_ReadyToSend": {
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "cs_envelopes",
              "subscriptionRequest/filterexpression": "cs_status eq 'ReadyToSend'"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_Envelope_Record": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cs_envelopes",
              "recordId": "@triggerOutputs()?['body/cs_envelopeid']"
            },
            "authentication": "@parameters('$authentication')"
          },
          "runAfter": {}
        },
        "Initialize_BearerToken": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "BearerToken",
                "type": "string",
                "value": ""
              }
            ]
          },
          "runAfter": {
            "Get_Envelope_Record": [
              "Succeeded"
            ]
          }
        },
        "Initialize_UserContext": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "UserContext",
                "type": "string",
                "value": ""
              }
            ]
          },
          "runAfter": {
            "Initialize_BearerToken": [
              "Succeeded"
            ]
          }
        },
        "List_Signers": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cs_signers",
              "$filter": "_cs_envelopelookup_value eq @{triggerOutputs()?['body/cs_envelopeid']}",
              "$orderby": "cs_signerorder asc"
            },
            "authentication": "@parameters('$authentication')"
          },
          "runAfter": {
            "Set_BearerToken": [
              "Succeeded"
            ],
            "Set_UserContext": [
              "Succeeded"
            ],
            "Get_ApiBaseUrl_Env": [
              "Succeeded"
            ]
          }
        },
        "List_Documents": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cs_documents",
              "$filter": "_cs_envelopelookup_value eq @{triggerOutputs()?['body/cs_envelopeid']}",
              "$orderby": "cs_documentorder asc"
            },
            "authentication": "@parameters('$authentication')"
          },
          "runAfter": {
            "List_Signers": [
              "Succeeded"
            ]
          }
        },
        "Initialize_SignersArray": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SignersArray",
                "type": "array",
                "value": []
              }
            ]
          },
          "runAfter": {
            "List_Documents": [
              "Succeeded"
            ]
          }
        },
        "Initialize_DocumentsArray": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "DocumentsArray",
                "type": "array",
                "value": []
              }
            ]
          },
          "runAfter": {
            "Initialize_SignersArray": [
              "Succeeded"
            ]
          }
        },
        "Build_Signers_Array": {
          "type": "Foreach",
          "foreach": "@outputs('List_Signers')?['body/value']",
          "actions": {
            "Append_Signer": {
              "type": "AppendToArrayVariable",
              "inputs": {
                "name": "SignersArray",
                "value": {
                  "Email": "@{items('Build_Signers_Array')?['cs_email']}",
                  "FullName": "@{items('Build_Signers_Array')?['cs_fullname']}",
                  "SignerOrder": "@{items('Build_Signers_Array')?['cs_signerorder']}",
                  "AuthenticationType": "@{if(empty(items('Build_Signers_Array')?['cs_authenticationtype']), 'None', items('Build_Signers_Array')?['cs_authenticationtype'])}",
                  "Language": "@{if(empty(items('Build_Signers_Array')?['cs_language']), 'en-US', items('Build_Signers_Array')?['cs_language'])}"
                }
              },
              "runAfter": {}
            }
          },
          "runAfter": {
            "Initialize_NintexEnvelopeID": [
              "Succeeded"
            ]
          }
        },
        "Build_Documents_Array": {
          "type": "Foreach",
          "foreach": "@outputs('List_Documents')?['body/value']",
          "actions": {
            "Append_Document": {
              "type": "AppendToArrayVariable",
              "inputs": {
                "name": "DocumentsArray",
                "value": {
                  "FileName": "@{items('Build_Documents_Array')?['cs_filename']}",
                  "FileContent": "@{items('Build_Documents_Array')?['cs_filecontent']}",
                  "DocumentOrder": "@{items('Build_Documents_Array')?['cs_documentorder']}"
                }
              },
              "runAfter": {}
            }
          },
          "runAfter": {
            "Build_Signers_Array": [
              "Succeeded"
            ]
          }
        },
        "Check_Has_Prepared_ID": {
          "type": "If",
          "expression": {
            "and": [
              {
                "not": {
                  "empty": [
                    "@outputs('Get_Envelope_Record')?['body/cs_preparedenvelopeid']"
                  ]
                }
              }
            ]
          },
          "actions": {
            "HTTP_Submit_Prepared_Envelope": {
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "@{first(outputs('Get_ApiBaseUrl_Env')?['body/value'])?['defaultvalue']}/submit/prepared/@{outputs('Get_Envelope_Record')?['body/cs_preparedenvelopeid']}",
                "headers": {
                  "Authorization": "@{variables('BearerToken')}",
                  "X-AS-UserContext": "@{variables('UserContext')}",
                  "accept": "application/json",
                  "Content-Type": "application/json"
                }
              },
              "runAfter": {}
            },
            "Set_NintexID_From_Prepared": {
              "type": "SetVariable",
              "inputs": {
                "name": "NintexEnvelopeID",
                "value": "@{body('HTTP_Submit_Prepared_Envelope')?['result']?['envelopeID']}"
              },
              "runAfter": {
                "HTTP_Submit_Prepared_Envelope": [
                  "Succeeded"
                ]
              }
            }
          },
          "else": {
            "actions": {
              "HTTP_Submit_New_Envelope": {
                "type": "Http",
                "inputs": {
                  "method": "POST",
                  "uri": "@{first(outputs('Get_ApiBaseUrl_Env')?['body/value'])?['defaultvalue']}/submit",
                  "headers": {
                    "Authorization": "@{variables('BearerToken')}",
                    "X-AS-UserContext": "@{variables('UserContext')}",
                    "accept": "application/json",
                    "Content-Type": "application/json"
                  },
                  "body": {
                    "TemplateID": "@{outputs('Get_Envelope_Record')?['body/cs_templateid']}",
                    "Subject": "@{outputs('Get_Envelope_Record')?['body/cs_subject']}",
                    "Message": "@{outputs('Get_Envelope_Record')?['body/cs_message']}",
                    "DaysToExpire": "@{outputs('Get_Envelope_Record')?['body/cs_daystoexpire']}",
                    "ReminderFrequency": "@{outputs('Get_Envelope_Record')?['body/cs_reminderfrequency']}",
                    "ProcessingMode": "@{if(empty(outputs('Get_Envelope_Record')?['body/cs_processingmode']), 'Sequential', outputs('Get_Envelope_Record')?['body/cs_processingmode'])}",
                    "Signers": "@{variables('SignersArray')}",
                    "Documents": "@{variables('DocumentsArray')}"
                  }
                },
                "runAfter": {}
              },
              "Set_NintexID_From_Submit": {
                "type": "SetVariable",
                "inputs": {
                  "name": "NintexEnvelopeID",
                  "value": "@{body('HTTP_Submit_New_Envelope')?['result']?['envelopeID']}"
                },
                "runAfter": {
                  "HTTP_Submit_New_Envelope": [
                    "Succeeded"
                  ]
                }
              }
            }
          },
          "runAfter": {
            "Build_Documents_Array": [
              "Succeeded"
            ]
          }
        },
        "Initialize_NintexEnvelopeID": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "NintexEnvelopeID",
                "type": "string",
                "value": ""
              }
            ]
          },
          "runAfter": {
            "Initialize_DocumentsArray": [
              "Succeeded"
            ]
          }
        },
        "Update_Envelope_Sent": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cs_envelopes",
              "recordId": "@triggerOutputs()?['body/cs_envelopeid']",
              "item/cs_envelopeid": "@{variables('NintexEnvelopeID')}",
              "item/cs_status": "InProcess",
              "item/cs_sentdate": "@{utcNow()}"
            },
            "authentication": "@parameters('$authentication')"
          },
          "runAfter": {
            "Check_Has_Prepared_ID": [
              "Succeeded"
            ]
          }
        },
        "Update_Envelope_Send_Error": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cs_envelopes",
              "recordId": "@triggerOutputs()?['body/cs_envelopeid']",
              "item/cs_status": "Error"
            },
            "authentication": "@parameters('$authentication')"
          },
          "runAfter": {
            "Check_Has_Prepared_ID": [
              "Failed",
              "TimedOut"
            ]
          }
        },
        "Get_ApiUsername_Env": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "environmentvariabledefinitions",
              "$filter": "schemaname eq 'cs_NintexApiUsername'",
              "$select": "defaultvalue",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          },
          "runAfter": {
            "Initialize_UserContext": [
              "Succeeded"
            ]
          }
        },
        "Get_ApiKey_Env": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "environmentvariabledefinitions",
              "$filter": "schemaname eq 'cs_NintexApiKey'",
              "$select": "defaultvalue",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          },
          "runAfter": {
            "Initialize_UserContext": [
              "Succeeded"
            ]
          }
        },
        "Get_ContextUsername_Env": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "environmentvariabledefinitions",
              "$filter": "schemaname eq 'cs_NintexContextUsername'",
              "$select": "defaultvalue",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          },
          "runAfter": {
            "Initialize_UserContext": [
              "Succeeded"
            ]
          }
        },
        "Get_AuthUrl_Env": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "environmentvariabledefinitions",
              "$filter": "schemaname eq 'cs_NintexAuthUrl'",
              "$select": "defaultvalue",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          },
          "runAfter": {
            "Initialize_UserContext": [
              "Succeeded"
            ]
          }
        },
        "Get_ApiBaseUrl_Env": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "environmentvariabledefinitions",
              "$filter": "schemaname eq 'cs_NintexApiBaseUrl'",
              "$select": "defaultvalue",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          },
          "runAfter": {
            "Initialize_UserContext": [
              "Succeeded"
            ]
          }
        },
        "HTTP_Authenticate_Nintex": {
          "type": "Http",
          "inputs": {
            "method": "POST",
            "uri": "@{first(outputs('Get_AuthUrl_Env')?['body/value'])?['defaultvalue']}/authentication/apiUser",
            "headers": {
              "Content-Type": "application/json"
            },
            "body": {
              "request": {
                "apiUsername": "@{first(outputs('Get_ApiUsername_Env')?['body/value'])?['defaultvalue']}",
                "apiKey": "@{first(outputs('Get_ApiKey_Env')?['body/value'])?['defaultvalue']}",
                "contextUsername": "@{first(outputs('Get_ContextUsername_Env')?['body/value'])?['defaultvalue']}"
              }
            }
          },
          "runAfter": {
            "Get_ApiUsername_Env": [
              "Succeeded"
            ],
            "Get_ApiKey_Env": [
              "Succeeded"
            ],
            "Get_ContextUsername_Env": [
              "Succeeded"
            ],
            "Get_AuthUrl_Env": [
              "Succeeded"
            ]
          }
        },
        "Set_BearerToken": {
          "type": "SetVariable",
          "inputs": {
            "name": "BearerToken",
            "value": "@{concat('bearer ', body('HTTP_Authenticate_Nintex')?['result']?['token'])}"
          },
          "runAfter": {
            "HTTP_Authenticate_Nintex": [
              "Succeeded"
            ]
          }
        },
        "Set_UserContext": {
          "type": "SetVariable",
          "inputs": {
            "name": "UserContext",
            "value": "@{first(outputs('Get_ContextUsername_Env')?['body/value'])?['defaultvalue']}"
          },
          "runAfter": {
            "HTTP_Authenticate_Nintex": [
              "Succeeded"
            ]
          }
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}