zip-files/broker-flows/ESignatureBroker_1_0_0_33/Workflows/ESignSyncTemplates-7E4177F7-6F26-4F98-9C97-6D51F4F36792.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cs_sharecommondataserviceforapps"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Recurrence_Daily": {
          "type": "Recurrence",
          "recurrence": {
            "frequency": "Day",
            "interval": 1
          }
        }
      },
      "actions": {
        "Trigger_Init": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "_init",
                "type": "string",
                "value": ""
              }
            ]
          },
          "runAfter": {}
        },
        "Initialize_BearerToken": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "BearerToken",
                "type": "string",
                "value": ""
              }
            ]
          },
          "runAfter": {
            "Trigger_Init": [
              "Succeeded"
            ]
          }
        },
        "Initialize_UserContext": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "UserContext",
                "type": "string",
                "value": ""
              }
            ]
          },
          "runAfter": {
            "Initialize_BearerToken": [
              "Succeeded"
            ]
          }
        },
        "List_Active_Token": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cs_authtokens",
              "$filter": "cs_isactive eq true and cs_expiresat gt @{utcNow()}",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          },
          "runAfter": {
            "Initialize_UserContext": [
              "Succeeded"
            ]
          }
        },
        "List_Nintex_Credentials": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cs_authtokens",
              "$filter": "cs_name eq 'NintexConfig' and cs_isactive eq false",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          },
          "runAfter": {
            "List_Active_Token": [
              "Succeeded"
            ]
          }
        },
        "Token_Cache_Check": {
          "type": "If",
          "expression": {
            "and": [
              {
                "greater": [
                  "@length(outputs('List_Active_Token')?['body/value'])",
                  0
                ]
              }
            ]
          },
          "actions": {
            "Set_BearerToken_From_Cache": {
              "type": "SetVariable",
              "inputs": {
                "name": "BearerToken",
                "value": "@{first(outputs('List_Active_Token')?['body/value'])?['cs_token']}"
              },
              "runAfter": {}
            },
            "Set_UserContext_From_Cache": {
              "type": "SetVariable",
              "inputs": {
                "name": "UserContext",
                "value": "@{first(outputs('List_Nintex_Credentials')?['body/value'])?['cs_contextusername']}"
              },
              "runAfter": {
                "Set_BearerToken_From_Cache": [
                  "Succeeded"
                ]
              }
            }
          },
          "else": {
            "actions": {
              "Set_UserContext_Variable": {
                "type": "SetVariable",
                "inputs": {
                  "name": "UserContext",
                  "value": "@{first(outputs('List_Nintex_Credentials')?['body/value'])?['cs_contextusername']}"
                },
                "runAfter": {}
              },
              "HTTP_Authenticate_Nintex": {
                "type": "Http",
                "inputs": {
                  "method": "POST",
                  "uri": "https://account.assuresign.net/api/v3.7/authentication/apiUser",
                  "headers": {
                    "Content-Type": "application/json"
                  },
                  "body": {
                    "request": {
                      "apiUsername": "@{first(outputs('List_Nintex_Credentials')?['body/value'])?['cs_apiusername']}",
                      "apiKey": "@{first(outputs('List_Nintex_Credentials')?['body/value'])?['cs_apikey']}",
                      "contextUsername": "@{first(outputs('List_Nintex_Credentials')?['body/value'])?['cs_contextusername']}"
                    }
                  }
                },
                "runAfter": {
                  "Set_UserContext_Variable": [
                    "Succeeded"
                  ]
                }
              },
              "Set_BearerToken_From_Auth": {
                "type": "SetVariable",
                "inputs": {
                  "name": "BearerToken",
                  "value": "@{concat('bearer ', body('HTTP_Authenticate_Nintex')?['result']?['token'])}"
                },
                "runAfter": {
                  "HTTP_Authenticate_Nintex": [
                    "Succeeded"
                  ]
                }
              },
              "Deactivate_Old_Tokens": {
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "ListRecords",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "cs_authtokens",
                    "$filter": "cs_isactive eq true"
                  },
                  "authentication": "@parameters('$authentication')"
                },
                "runAfter": {
                  "Set_BearerToken_From_Auth": [
                    "Succeeded"
                  ]
                }
              },
              "Apply_to_each_old_token": {
                "type": "Foreach",
                "foreach": "@outputs('Deactivate_Old_Tokens')?['body/value']",
                "actions": {
                  "Update_Token_Inactive": {
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "UpdateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "cs_authtokens",
                        "recordId": "@{items('Apply_to_each_old_token')?['cs_authtokenid']}",
                        "item/cs_isactive": false
                      },
                      "authentication": "@parameters('$authentication')"
                    },
                    "runAfter": {}
                  }
                },
                "runAfter": {
                  "Deactivate_Old_Tokens": [
                    "Succeeded"
                  ]
                }
              },
              "Create_Token_Record": {
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "CreateRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "cs_authtokens",
                    "item/cs_name": "NintexBearerToken",
                    "item/cs_token": "@{variables('BearerToken')}",
                    "item/cs_isactive": true,
                    "item/cs_issuedat": "@{utcNow()}",
                    "item/cs_expiresat": "@{addHours(utcNow(), 23)}"
                  },
                  "authentication": "@parameters('$authentication')"
                },
                "runAfter": {
                  "Apply_to_each_old_token": [
                    "Succeeded"
                  ]
                }
              }
            }
          },
          "runAfter": {
            "List_Nintex_Credentials": [
              "Succeeded"
            ]
          }
        },
        "HTTP_List_Templates": {
          "type": "Http",
          "inputs": {
            "method": "GET",
            "uri": "https://ca1.assuresign.net/api/documentnow/v3.7/templates",
            "headers": {
              "Authorization": "@{variables('BearerToken')}",
              "X-AS-UserContext": "@{variables('UserContext')}",
              "accept": "application/json"
            }
          },
          "runAfter": {
            "Token_Cache_Check": [
              "Succeeded"
            ]
          }
        },
        "Upsert_Each_Template": {
          "type": "Foreach",
          "foreach": "@body('HTTP_List_Templates')?['result']?['templates']",
          "actions": {
            "Check_Template_Exists": {
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "cs_templates",
                  "$filter": "cs_templateid eq '@{items('Upsert_Each_Template')?['templateID']}'",
                  "$top": 1
                },
                "authentication": "@parameters('$authentication')"
              },
              "runAfter": {}
            },
            "Create_Or_Update_Template": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@length(outputs('Check_Template_Exists')?['body/value'])",
                      0
                    ]
                  }
                ]
              },
              "actions": {
                "Update_Template": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "cs_templates",
                      "recordId": "@{first(outputs('Check_Template_Exists')?['body/value'])?['cs_templateid_local']}",
                      "item/cs_name": "@{items('Upsert_Each_Template')?['name']}",
                      "item/cs_description": "@{items('Upsert_Each_Template')?['description']}",
                      "item/cs_isactive": "@{items('Upsert_Each_Template')?['isActive']}"
                    },
                    "authentication": "@parameters('$authentication')"
                  },
                  "runAfter": {}
                }
              },
              "else": {
                "actions": {
                  "Create_Template": {
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "CreateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "cs_templates",
                        "item/cs_templateid": "@{items('Upsert_Each_Template')?['templateID']}",
                        "item/cs_name": "@{items('Upsert_Each_Template')?['name']}",
                        "item/cs_description": "@{items('Upsert_Each_Template')?['description']}",
                        "item/cs_isactive": "@{items('Upsert_Each_Template')?['isActive']}"
                      },
                      "authentication": "@parameters('$authentication')"
                    },
                    "runAfter": {}
                  }
                }
              },
              "runAfter": {
                "Check_Template_Exists": [
                  "Succeeded"
                ]
              }
            }
          },
          "runAfter": {
            "HTTP_List_Templates": [
              "Succeeded"
            ]
          }
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}
