client-service/ESignatureClient_1_0_0_7_managed/Workflows/Sample-CreateAndSendEnvelope-42A45935-21EE-43BD-B432-15B4B0D8DFD0.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cs_esignbrokerconnection"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "Envelope Subject",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Subject line for the envelope",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "Signer Full Name",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Full name of the signer",
                  "x-ms-content-hint": "TEXT"
                },
                "text_2": {
                  "title": "Signer Email",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Email address of the signer",
                  "x-ms-content-hint": "TEXT"
                },
                "text_3": {
                  "title": "Template ID",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Nintex AssureSign template ID",
                  "x-ms-content-hint": "TEXT"
                },
                "text_4": {
                  "title": "Message",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Message to include with the envelope",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2",
                "text_3"
              ]
            }
          }
        }
      },
      "actions": {
        "Create_Envelope": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "httpRequest",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "url": "/api/data/v9.2/cs_envelopes",
              "method": "POST",
              "body": {
                "cs_subject": "@triggerBody()?['text']",
                "cs_name": "@triggerBody()?['text']",
                "cs_templateid": "@triggerBody()?['text_3']",
                "cs_message": "@triggerBody()?['text_4']",
                "cs_daystoexpire": 30,
                "cs_reminderfrequency": 3,
                "cs_processingmode": "Sequential"
              },
              "headers": {
                "Prefer": "return=representation",
                "Content-Type": "application/json; charset=utf-8"
              }
            },
            "authentication": "@parameters('$authentication')"
          },
          "runAfter": {},
          "description": "POST to cs_envelopes on the broker environment. Creates a new envelope record in Draft status. The connection reference cs_esignbrokerconnection must point to the broker Dataverse environment."
        },
        "Create_Signer": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "httpRequest",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "url": "/api/data/v9.2/cs_signers",
              "method": "POST",
              "body": {
                "cs_fullname": "@triggerBody()?['text_1']",
                "cs_email": "@triggerBody()?['text_2']",
                "cs_signerorder": 1,
                "cs_name": "@triggerBody()?['text_1']",
                "cs_language": "en-US",
                "cs_authenticationtype": "None",
                "cs_EnvelopeLookup@odata.bind": "/cs_envelopes(@{outputs('Create_Envelope')?['body']['cs_envelopeid']})"
              },
              "headers": {
                "Content-Type": "application/json; charset=utf-8"
              }
            },
            "authentication": "@parameters('$authentication')"
          },
          "runAfter": {
            "Create_Envelope": [
              "Succeeded"
            ]
          },
          "description": "POST to cs_signers on the broker environment. Creates a signer linked to the envelope via OData bind."
        },
        "Set_Envelope_To_Preparing": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "httpRequest",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "url": "/api/data/v9.2/cs_envelopes(@{outputs('Create_Envelope')?['body']['cs_envelopeid']})",
              "method": "PATCH",
              "body": {
                "statuscode": 717640001
              },
              "headers": {
                "Content-Type": "application/json; charset=utf-8"
              }
            },
            "authentication": "@parameters('$authentication')"
          },
          "runAfter": {
            "Create_Signer": [
              "Succeeded"
            ]
          },
          "description": "PATCH to cs_envelopes(id) setting statuscode to 717640001 (Preparing). This triggers the broker's Prepare Envelope flow, which then automatically sends the envelope."
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}