client-service/ESignatureClient/Workflows/Sample-CancelEnvelope-F6AF47C2-5F12-4792-8BE9-5AAD1D2D0882.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cs_esignbrokerconnection"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "Envelope ID",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "The cs_envelopeid of the envelope to cancel",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "Get_Envelope_Status": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "httpRequest",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "url": "cs_envelopes(@{triggerBody()?['text']})?$select=statuscode",
              "method": "GET"
            },
            "authentication": "@parameters('$authentication')"
          },
          "runAfter": {},
          "description": "GET cs_envelopes(id) from the broker environment to check the current statuscode."
        },
        "Check_If_Cancellable": {
          "type": "If",
          "expression": {
            "and": [
              {
                "equals": [
                  "@outputs('Get_Envelope_Status')?['body']['statuscode']",
                  717640003
                ]
              }
            ]
          },
          "actions": {
            "Set_Cancel_Flag": {
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "httpRequest",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "url": "cs_envelopes(@{triggerBody()?['text']})",
                  "method": "PATCH",
                  "body": {
                    "cs_iscancelled": true
                  },
                  "headers": {
                    "Content-Type": "application/json; charset=utf-8"
                  }
                },
                "authentication": "@parameters('$authentication')"
              },
              "runAfter": {},
              "description": "PATCH cs_iscancelled to true on the broker environment. This triggers the broker's Cancel Envelope flow, which cancels via the Nintex API and sets statuscode to 717640006 (Cancelled)."
            }
          },
          "else": {
            "actions": {}
          },
          "runAfter": {
            "Get_Envelope_Status": [
              "Succeeded"
            ]
          },
          "description": "Only envelopes with statuscode 717640003 (In Process) can be cancelled."
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}